rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return signedIn()
        && exists(
          /databases/$(database)/documents/admins/$(request.auth.uid)
        );
    }

    // =========================
    // ADMIN
    // =========================

    match /admins/{uid} {
      allow read: if signedIn()
        && request.auth.uid == uid;

      allow write: if false;
    }

    // =========================
    // LOGIN ALIASES
    // =========================

    match /loginAliases/{loginKey} {
      // Necesario para convertir:
      // "Jorge" -> email interno
      allow read: if true;

      allow write: if false;
    }

    // =========================
    // PERFILES
    // =========================

    match /profiles/{uid} {
      allow read: if signedIn();

      // Los crea Cloud Functions.
      allow write: if false;
    }

    // =========================
    // LIKES ACTUALES
    // =========================

    match /likes/{likeId} {

      allow read: if isAdmin()
        || (
          signedIn()
          && resource.data.fromUid
              == request.auth.uid
        );

      allow create: if signedIn()

        && request.resource.data.keys().hasOnly([
          'fromUid',
          'targetUid',
          'createdAt'
        ])

        && request.resource.data.fromUid
            == request.auth.uid

        && request.resource.data.targetUid
            != request.auth.uid

        && request.resource.data.targetUid
            is string

        && exists(
          /databases/$(database)/documents/profiles/$(request.resource.data.targetUid)
        )

        && likeId ==
          request.auth.uid
          + '_'
          + request.resource.data.targetUid

        && request.resource.data.createdAt
            == request.time;

      allow update: if false;

      allow delete: if signedIn()
        && resource.data.fromUid
            == request.auth.uid;
    }

    // =========================
    // HISTORIAL
    // =========================

    match /likeEvents/{eventId} {

      allow read: if isAdmin();

      allow create: if signedIn()

        && request.resource.data.keys().hasOnly([
          'fromUid',
          'targetUid',
          'action',
          'createdAt'
        ])

        && request.resource.data.fromUid
            == request.auth.uid

        && request.resource.data.targetUid
            != request.auth.uid

        && (
          request.resource.data.action == 'like'
          || request.resource.data.action == 'unlike'
        )

        && request.resource.data.createdAt
            == request.time;

      allow update, delete: if false;
    }
  }
}